[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=WebPackage Gen
Exec=/usr/bin/WebPackage-Gen
Comment=WebPackage Gen
Icon=/usr/share/pixmaps/webpkg-gen.png
StartupNotify=false
GenericName=WebPackage Gen
