[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=WebPackage-Reader
Exec=/usr/bin/WebPackage-Reader
Comment=WebPackage Reader
Icon=/usr/share/pixmaps/webpkg-read.png
StartupNotify=false
GenericName=WebPackage Reader
