Source: webpackage
Section: web
Priority: optional
Maintainer: Witherking25 <witherking@withertech.com>
Build-Depends: debhelper-compat (= 12), zlib1g-dev, qtbase5-dev, qtbase5-dev-tools, qtwebengine5-dev, qtwebengine5-dev-tools, qt5-qmake
Standards-Version: 4.4.1
Homepage: https://github.com/WebPackage/WebPackage-Reader

Package: webpackage
Architecture: any
Depends: zlib1g, libqt5gui5, libqt5widgets5, libqt5webengine5, libqt5webenginewidgets5, libqt5core5a, ${misc:Depends}, ${shlibs:Depends}
Description: WebPackage is a revolutionary way of distributing web apps. 
 WebPackage is a revolutionary new way of distributing web apps on any platform. 
 It works by packaging the web app in a .webpkg file, a special kind of zip file 
 designed for distributing web apps.
